<html>
    <head>
        <title>

        </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/stylesheets/style-common.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    </head>
    <body>
        <% include ../partials/adhesion %>  
        <div id="hide-zone"></div>
        <img id="logo" src="/images/logo.png" onerror="this.src='/images/defaut.jpg'">

        <div id="slideshow">
            <%- slideshow %>
        </div>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <div id="search-bar">
                <form id="searchthis" action="/search" style="display:inline;" method="get">
                    <input id="namanyay-search-box" class="browser-default" name="q" size="40" type="text" placeholder="Rechercher"/>
                    <input id="namanyay-search-btn" class="browser-default" value="Go" type="submit"/>
                </form>
            </div>


            <div id="social">
                <a href="https://www.facebook.com/Cgt-Paul-Brousse-1402818630035962/" target="_blank" class="fab fa-facebook fa-3x"></a>
                <a href="#" class="fab fa-twitter-square fa-3x"></a>
                <a href="#" class="fab fa-youtube-square fa-3x"></a>
            </div>

            <% structure.forEach(function(navelement){
                if(navelement.NavigationSubElements.length == 0){
                    return;
                } 
                else if (navelement.NavigationSubElements.length == 1 && navelement.NavigationSubElements[0].title == navelement.title){ 
                    if(navelement.NavigationSubElements[0].type == "LINK"){ %>
            <li>
                <a href="#" class="trigger-pdf"><input type="hidden" value="<%= navelement.NavigationSubElements[0].PageLink.link %>"><%= navelement.NavigationSubElements[0].title %></a> 
            </li>
            <% } else { %> 
            <li><a href="/<%= navelement.title %>/"><%= navelement.title %></a></li>
            <% } %>
            <% } else { %>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><%= navelement.title %> <i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <% navelement.NavigationSubElements.forEach(function(navsubelement){ %>
                                <% if(navsubelement.type == "LINK"){ %>
                                <li>
                                    <a href="#" class="trigger-pdf"><input type="hidden" value="<%= navelement.NavigationSubElements[0].PageLink.link %>"><%= navelement.NavigationSubElements[0].title %></a> 
                                </li>
                                <% } else { %> 
                                <li><a href="/<%= navelement.title %>/<%= navsubelement.title %>/"><%= navsubelement.title %></a></li>
                                <% } %>
                                <% }); %>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <% } %>
            <% }); %>
            <li><a href="#modal-adhesion" class="modal-trigger">adhérer</a></li>
        </ul>

        <div id="contact-informations">
            <i class="tiny material-icons red-icon">location_on
            </i> 12 avenue Paul Vaillant-Couturier<br>
            <span id="city">94800 VILLEJUIF, <span id="bat">Bât. JJ ROUSSEAU</span></span><br>
            <i class="tiny material-icons red-icon">local_phone
            </i> 01.45.59.32.71<br>
            <i class="tiny material-icons red-icon"> mail
            </i> paul-brousse.cgt@pbr.aphp.fr
        </div>

        <div id="main">
            <div id="dialog" style="display:none"> 
                <div> 
                    <iframe id="pdf"></iframe> 
                </div> 
            </div>
            <% if(type.localeCompare("CONTENT") == 0){ %>
            <% if(content.length == 1){ %>
            <div id="zone-1">
                <div class="hr-zone-top">
                    <hr>
                    <hr>
                </div>
                <%- content[0].content %>
                <div class="hr-zone-bottom">
                    <hr>
                    <hr>
                </div>
            </div>
            <% } else if(content.length == 2) { %>
            <div id="zone-2">
                <div class="subzone-1">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[0].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-2">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[1].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
            <% } else if(content.length == 3) { %>
            <div id="zone-3">
                <div class="subzone-1">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[0].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-2">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[1].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-3">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[2].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
            <% } else if(content.length == 4) { %>
            <div id="zone-4">
                <div class="subzone-1">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[0].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-2">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[1].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-3">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[2].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="subzone-4">
                    <div class="hr-zone-top">
                        <hr>
                        <hr>
                    </div>
                    <%- content[3].content %>
                    <div class="hr-zone-bottom">
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else if (type.localeCompare("LIST") == 0){ 
                var liIndex = -1;
                var pageIndex = 1;
                var displayClass = "";
                %>
            <%- header %>
            <% list.forEach(function(element){ 
                liIndex++;
                if(liIndex > 3){
                    displayClass = "no-display";
                    pageIndex++;
                    liIndex = 0;
                } %>
            <ul class="<%= displayClass %> collection page-<%= pageIndex %>">
                <li class="collection-item avatar special-avat">
                    <img src="/public/images/<%= element.illustration %>" onerror="this.src='/images/defaut.jpg'"  class="circle">
                    <span class="title"><%= element.title %></span>
                    <p><%= element.description %></p>
                    <a class="secondary-content access-content"><input type="hidden" class="id" value="<%= element.id %>" /><input type="hidden" class="type" value="<%= element.type %>" /><i class="material-icons red-icon">dehaze</i></a>
                </li>
            </ul>
            <% }); %>
            <br>
            <ul class="pagination center-align">
                <li class="disabled"><a class="left-c"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a id="li-p-1" class="page">1</a></li>
                <%
                var pas;

                for (pas = 1; pas < pageIndex; pas++) { %>
                <li class="waves-effect"><a id="li-p-<%= pas + 1 %>" class="page <%= pas == pageIndex - 1 ? "lastC" : ""%>"><%= pas + 1 %></a></li>
                <% } %>

                <li class="waves-effect <%= pageIndex == 1 ? "disabled" : "" %>"><a class="right-c"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            <% } else if (type.localeCompare("ARTICLE") == 0){ %>
            <%- content %>
            <% } %>
        </div>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
        <script type="text/javascript" src="/javascripts/sweetalert.js"></script>
        <script type="text/javascript" src="/javascripts/imports.js"></script>
        <script type="text/javascript" src="/javascripts/carousel.js"></script>
        <script type="text/javascript" src="/javascripts/user-actions.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>

    </body>
</html>