<!DOCTYPE html>
<html>
    <head>
        <title>admin page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h3>Interface d'aministration</h3>

        <table class="centered">
            <thead>
                <tr>
                    <th>Element de navigation</th>
                    <th>Element de sous-navigation</th>
                    <th>Type</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                    <th>Monter/Descendre</th>
                    <th>Contenu</th>
                </tr>
            </thead>

            <tbody>

                <% structure.forEach(function(navelement){ %>
                <%
                    var up = (structure.indexOf(navelement) > 0 ? "" : "disabled");
                    var down = (structure.indexOf(navelement) == structure.length - 1 ? "disabled" : "");
                %>
                <tr>
                    <td><%= navelement.title %></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="modify-nav-element btn-floating btn-small waves-effect waves-light orange">
                            <input type="hidden" value="<%= navelement.id %>" />
                            <i class="material-icons">create</i>
                        </a>
                    </td>
                    <td>
                        <a class="delete-nav-element btn-floating btn-small waves-effect waves-light red">
                            <input type="hidden" value="<%= navelement.id %>" />
                            <i class="material-icons">clear</i>
                        </a>
                    </td>
                    <td>
                        <a class="up-nav-element btn-floating btn-small waves-effect waves-light green lighten-1 <%= up %>">
                            <input type="hidden" value="<%= navelement.id %>" />
                            <i class="material-icons">arrow_upward</i>
                        </a>
                        <a class="down-nav-element btn-floating btn-small waves-effect waves-light green lighten-1 <%= down %>">
                            <input type="hidden" value="<%= navelement.id %>" />
                            <i class="material-icons">arrow_downward</i>
                        </a>
                    </td>
                    <td></td>
                </tr>

                <% navelement.NavigationSubElements.forEach(function(navsubelement){ %>
                <%
                    var up = (navelement.NavigationSubElements.indexOf(navsubelement) > 0 ? "" : "disabled");
                    var down = (navelement.NavigationSubElements.indexOf(navsubelement) == navelement.NavigationSubElements.length- 1 ? "disabled" : "");
                %>
                <tr>
                    <td></td>
                    <td><%= navsubelement.title %></td>
                    <td><%= navsubelement.type %></td>
                    <td>
                        <a class="modify-sub-nav-element btn-floating btn-small waves-effect waves-light orange">
                            <input type="hidden" value="<%= navsubelement.id %>" />
                            <i class="material-icons">create</i>
                        </a>
                    </td>
                    <td>
                        <a class="delete-sub-nav-element btn-floating btn-small waves-effect waves-light red">
                            <input type="hidden" value="<%= navsubelement.id %>" />
                            <i class="material-icons">clear</i>
                        </a>
                    </td>
                    <td>
                        <a class="up-sub-nav-element btn-floating btn-small waves-effect waves-light green lighten-1 <%= up %>">
                            <input type="hidden" value="<%= navsubelement.id %>" />
                            <i class="material-icons">arrow_upward</i>
                        </a>
                        <a class="down-sub-nav-element btn-floating btn-small waves-effect waves-light green lighten-1 <%= down %>">
                            <input type="hidden" value="<%= navsubelement.id %>" />
                            <i class="material-icons">arrow_downward</i>
                        </a>
                    </td>
                    <td>
                        <a class="content-sub-nav-element btn-floating btn-small waves-effect waves-light purple lighten-3">
                            <input type="hidden" class="navelementid" value="<%= navsubelement.id %>" />
                            <input type="hidden" class="navelementtype" value="<%= navsubelement.type %>" />
                            <i class="material-icons">build</i>
                        </a>
                    </td>
                </tr>
                <% }); %>

                <tr>
                    <td></td>
                    <td>
                        <a class="add-sub-nav-element btn-floating btn-small waves-effect waves-light blue lighten-3">
                            <input type="hidden" class="navelementid" value="<%= navelement.id %>" />
                            <i class="material-icons">add</i>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <% }); %>
                <tr>
                    <td>
                        <a class="add-nav-element btn-floating btn-small waves-effect waves-light blue lighten-3"><i class="material-icons">add</i></a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
        <script type="text/javascript" src="/javascripts/sweetalert.js"></script>
        <script type="text/javascript" src="/javascripts/imports.js"></script>
        <script type="text/javascript" src="/javascripts/actions.js"></script>
    </body>
</html>